* {
   box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  font-family: 'Bangers', cursive;
  text-align: center;
}

#top {
  position: relative;
  background-image: url(./image/portforio-top.jpeg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#main{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.vue-typer .custom.char.typed {
  height: 10vh;
  color: whitesmoke;
}

.top-text {
  font-size: 60px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}
.header-inner{
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
}

nav {
  display: flex;
  margin: 0 0 0 auto;
}

.comment {
  margin: 10px 10px;
  font-size: 30px;
}

.nav-res a {
  text-decoration: none;
  color: #fff;
}

.content-title  {
  font-size: 40px;
  margin: 50px 20% 100px 20%;
  padding-bottom: .5em;
  border-bottom: 3px solid #ccc;
}

.Profile p {
  display: inline-block;
  text-align: left;
}

.text-content {
  padding: 20px;
}

.Skill {
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}

.skill-content {
    margin :10px 30px;
    display: inline-block;
    width: 100px;
}
.skill-content p {
  font-size: 25px;
}
.skill-content img {
  height: 80px;
  width: auto;
}

.Work {
    display: inline-block;
}

/* card */
.card{
  width: 288px;
  height: auto;
  display: inline-block;
  margin: 0 20px;
  color: black;
}

.card-imgframe{
  width: 100%;
  height: auto;
  padding-top: 56.25%;
  background: url(./image/srshare.png) no-repeat center;
  background-size: cover;
  box-sizing: border-box;
}

.work2 {
  background: url(./image/portforio2.png) no-repeat center;
  background-size: cover;
  box-sizing: border-box;
}

.card-textbox{
  width: 100%;
  height: auto;
  padding: 20px 18px;
  background: #ffffff;
  box-sizing: border-box;
}

.card-textbox > * + *{
  margin-top: 10px;
}

.card-titletext{
  font-size: 20px;
  font-weight: bold;
  line-height: 125%;
}

.card-overviewtext{
  font-size: 12px;
  line-height: 150%;
}

.card-skin{
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,.2);
}

.link-icon {
  margin: 0 20px;
}

@media screen and (max-width: 1200px) {
  .top-text {
    font-size: 50px;
  }
}

@media screen and (max-width: 768px) {
  .top-text {
    font-size: 30px;
  }

}

@media screen and (max-width: 450px) {
  #top {
    position: relative;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 0;
    padding-top: 66.6666666667%;
  }
  #main {
    position: absolute;
    top: 30%;
    left: 50%;
  }

  .header {
    display: none;
  }

  .top-text{
    font-size: 30px;
  }
}
