* {
   box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  font-family: 'Bangers', cursive;
  text-align: center;
}

#top {
  position: relative;
  background-image: url(./image/portforio-top.jpeg);
  background-size: cover;
  height: 100vh;
}

#main{
  font-size: 75px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.header-inner{
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
}

nav {
  display: flex;
  margin: 0 0 0 auto;
}
.comment {
  margin: 10px 10px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}
.title{
  padding:20px 0px;
  margin:unset;
}

.Profile p {
  display: inline-block;
  text-align: left;
}
